OUTPUT_FOLDER="/path/to/output/folder"
DUT_NAME="test"
LOGGING_LEVEL="DEBUG"
CURRENT_COMPLIANCE_AMPERES=0.00003
DEVICE_CENTER=[-0.003305, -0.001890, 0.068000]
LASER_DAC=500
LASER_FREQUENCY=1000
VOLTAGES=[50]
X_SPAN=100e-06
Y_SPAN=300e-06
STEP_XY=10e-06
ROTATION_ANGLE_DEG=0
N_TRIGGERS_PER_POSITION=10
REMOVE_PADS=null
TRIGGER_DELAY_SCOPE=30
ACQUIRE_CHANNELS=[3, 4]